#footer{
    background-color: rgb(225, 211, 213);
    
}
#footer .footer{
    min-height: 200px;
    flex-direction: row;
   
    
    padding-bottom:30px;
   
    
}
#footer h2{
    color: black;
    font-weight: 300px;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    align-items: centre;
    justify-content: centre;
    margin-bottom: 30px ;
    margin: 0 5px;
}
#footer .social-item{
    height: 50px;
    width: 40px;
    margin-right: 70px;
    padding-bottom: 60px;
    
    
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
    margin-left: 60px;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: black;
    font-size: 1.3rem;
    margin-bottom: 10px;
}


